<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <i class="fas fa-user-plus fa-3x"></i>
    </div>

    <!-- Login Form -->
    <form [formGroup]="signupForm" (ngSubmit)="registerUser()">
      <input
        type="text"
        id="nick_name"
        class="fadeIn second"
        name="nick_name"
        formControlName="nick_name"
        placeholder="Nickname"
        required
      />
      <input
        type="email"
        id="login"
        class="fadeIn third"
        name="email"
        formControlName="email"
        required
        placeholder="Email"
      />
      <input
        type="password"
        id="password"
        class="fadeIn fourth"
        name="password"
        formControlName="password"
        required
        placeholder="Password"
      />
      <input
        type="password"
        id="password_confirmation"
        class="fadeIn fourth"
        name="password_confirmation"
        formControlName="password_confirmation"
        required
        placeholder="password Confirmation"
      />
      <input type="submit" class="fadeIn fourth" value="Register" />
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>
  </div>
</div>
