<div class="main-body">
  <h2 class="title">My Shopping</h2>
  <hr />

  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Created</th>
        <th scope="col">Finished</th>
        <th scope="col">Show</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sale of mySale; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ sale?.created_at }}</td>
        <td *ngIf="sale?.end_sale !== null">{{ sale?.end_sale }}</td>
        <td *ngIf="sale?.end_sale === null" class="bg-warning">Unfinished</td>
        <td>
          <a [routerLink]="[sale?.id]" class="btn btn-primary">Show</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
