<div class="main-body">
  <h2 class="title">Products</h2>
  <hr />
  <div class="row">
    <div *ngIf="product.length === 0" class="alert alert-light text-center">
      loadign....
    </div>
    <div *ngIf="product.length > 0" class="card-columns">
      <div
        *ngFor="let prod of product"
        class="card bg-secondary mb-3"
        style="max-width: 20rem"
      >
        <div class="card-header">{{ prod.name }}</div>
        <div class="card-body">
          <h5 class="card-title">Q {{ prod.price }}</h5>
          <p class="card-text">{{ prod.desciption }}</p>

          <a href="" class="card-link">
            {{ prod.id_category }}
          </a>
        </div>
        <div class="card-footer bg-transparent border-info">
          <a href="" class="card-link"> Stock - {{ prod.stock }} </a>
          <a
            class="card-link"
            style="float: right; cursor: pointer"
            *ngIf="prod.id_user !== userInfo.id"
            (click)="buyProduct(prod.id)"
          >
            <i class="fas fa-cart-plus fa-2x"></i>
          </a>
          <a
            class="card-link"
            style="float: right; cursor: pointer"
            *ngIf="prod.id_user === userInfo.id"
            [routerLink]="[prod.id + '/' + sale]"
          >
            <i class="fas fa-info-circle fa-2x"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
