<div class="main-body">
  <h2 class="title">Products</h2>
  <hr />
  <div class="row">
    <div *ngIf="product.length > 0" class="card-group">
      <div *ngIf="lodingPrdoduct" class="alert alert-light text-center">
        loadign....
      </div>
      <div *ngFor="let prod of product" class="card">
        <div class="card-body">
          <h5 class="card-title">{{ prod.name }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Q {{ prod.price }}</h6>
          <p class="card-text">{{ prod.desciption }}</p>
          <a href="" class="card-link"> Stock - {{ prod.stock }} </a>
          <a href="" class="card-link">
            {{ prod.id_category }}
          </a>
        </div>
      </div>
      <div *ngIf="product.length === 0" class="alert alert-danger text-center">
        No hay productos.
      </div>
    </div>
  </div>
</div>
